:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

.container-fluid div{
  display: flex;
  justify-content: space-around;
  margin-left: 250px;
  margin-right: 250px;
  height: 3.5em;
}

.bottom-footer {
  margin-top: auto;
}

.logo {
  margin-left: 180px;
  font-weight: bold;
  font-size: 100fr;
}

body {
  margin: 0;
  min-height: 100vh;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.card {
  padding: 2em;
}


button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* Fixed sidenav, full height */
.sidenav {
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 300px;
  top: 70px;
  left: 0;
  background-color: rgba(17, 17, 17, 0);
  overflow-x: hidden;
  padding-top: 2px;
}

/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  border: none;
  background: none;
  width:100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
  color: #f1f1f1;
}

.link-design, .link-design:hover {
  color: #000000;
  text-decoration: none;
}

/* Main content */
.main {
  margin-left: 200px; /* Same as the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
  top: 100px;
}


/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background-color: #262626;
  padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}

.myborder {
  border: 1px solid rgb(98, 113, 116);
  border-radius: 8px;
}

.toggle-btn {
  cursor: pointer;
  border: 0;
  outline: none;
  position: relative;
  background: transparent;
}

.input-group {
  position: absolute;
  transition: 0.5s;
}

#login-btn.active {
  border-bottom: 2px solid;
}

#signup-btn.active {
  border-bottom: 2px solid;
}


.form-box {
  overflow: hidden;
}

#sellTechContent {
  margin-top: 75px;
  margin-bottom: 75px;
}

#sellTechImg {
  width: 700px;
}

#sellTechText {
  margin-top: 100px;
}

@media only screen and (max-width: 986px) {
  .col-media-hide {
    display: none;
  }
  #exampleInputEmail1 {
    width: 200px;
  }
}

@media only screen and (max-width: 1366px){

  #sellTechContent {
    margin-top: 75px;
    margin-bottom: 75px;
  }
  
  #sellTechImg {
    width: 600px;
  }

  #sellTechButton{
    margin-left: -60px;
  }

  #sellTechText {
    margin-top: 50px;
    margin-left: 30px;
    width: 400px;
    text-align: center;
  }
}

@media only screen and (max-width: 1120px){

  #sellTechContent {
    margin-top: 75px;
    margin-bottom: 75px;
  }
  
  #sellTechImg {
    width: 475px;
  }

  #sellTechButton{
    margin-left: -60px;
  }

  #sellTechText {
    margin-top: 70px;
    margin-left: 0px;
    width: 400px;
    text-align: center;
  }

  .sidenav {
    height: 100%;
    width: 500px;
    position: static;
    z-index: 1;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(17, 17, 17, 0);
    overflow-x: hidden;
    padding-top: 2px;
  }
}



@media only screen and (max-width: 800px){

  #sellTechContent {
    margin-top: 75px;
    margin-bottom: 75px;
  }
  
  #sellTechImg {
    width: 375px;
  }

  #sellTechButton{
    margin-left: -60px;
  }

  #sellTechText {
    margin-top: 0px;
    margin-left: -10px;
    width: 400px;
    text-align: center;
  }
  .sidenav {
    height: 100%;
    width: 500px;
    position: static;
    z-index: 1;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(17, 17, 17, 0);
    overflow-x: hidden;
    padding-top: 2px;
  }
}

@media only screen and (max-width: 740px){

  .media-col-left {
    display: none;
  }
  .media-col-right h1 {
    font-size: 1.6rem;
  }

  #sellTechContent {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  #sellTechButton{
    margin-left: -35px;
  }
  
  #sellTechImg {
    width: 300px;
  }
  
  #sellTechText {
    margin-top: 0px;
    margin-left: -20px;
    width: 300px;
    text-align: center;
  }
  .sidenav {
    height: 100%;
    width: 500px;
    position: static;
    z-index: 1;
    margin-top: -10px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(17, 17, 17, 0);
    overflow-x: hidden;
    padding-top: 2px;
  }
}

@media only screen and (max-width: 600px) {
  .media-col-left {
    display: none;
  }
  .media-col-right h1 {
    font-size: 1.6rem;
  }
  

  #sellTechContent {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  #sellTechButton{
    margin-left: 0px;
  }
  
  #sellTechImg {
    display: none;
  }
  
  #sellTechText {
    margin-top: -30px;
    margin-left: 140px;
    width: 400px;
    text-align: center;
  }
}

@media only screen and (max-width: 590px){

  .media-col-left {
    display: none;
  }
  .media-col-right h1 {
    font-size: 1.6rem;
  }

  #sellTechContent {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  #sellTechButton{
    margin-left: 0px;
  }
  
  #sellTechImg {
    display: none;
  }
  
  #sellTechText {
    margin-top: -30px;
    margin-left: 140px;
    width: 400px;
    text-align: center;
  }
}

@media only screen and (max-width: 420px){

  .media-col-left {
    display: none;
  }
  .media-col-right h1 {
    font-size: 1.6rem;
  }

  #sellTechContent {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  #sellTechButton{
    margin-left: 0px;
  }
  
  #sellTechImg {
    display: none;
  }
  
  #sellTechText {
    margin-top: 10px;
    margin-left: 100px;
    margin-right: 100px;
    width: 300px;
    text-align: center;
  }
  .sidenav {
    height: 100%;
    width: 300px;
    position: static;
    z-index: 1;
    margin-top: -10px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(17, 17, 17, 0);
    overflow-x: hidden;
    padding-top: 2px;
  }
}

